.media {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 5px;
  margin: 5px 0;
  background-color: #282c34;
  position: relative;
  margin: 5px;
  
}

/* .media:hover {
  background-color: white;
  color: black;
} */

@media (max-width: 550px) {
  .media {
    width: 45%;
  }
}


.category{
  display: inline-block;
  flex-wrap: wrap;
  justify-content: center;
}
.item{
  min-height:20rem;
  width: 17rem;
  padding: 5px;
  
}

item img{
  border-radius: 50%;
  pointer-events: none;
 
}
.inner-carousel{
  display: flex;
  background:rgb(255, 255, 255);
}
.carousel{
  cursor:grab;
  overflow:hidden;
  background: rgb(255, 255, 255);
}
